PORT=5000
IP=localhost


#MARIA DB
MARIA_HOST=
MARIA_USER=
MARIA_DATABASE=
MARIA_PASSWORD=


#REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_PW=


SERVER_CORS="http://localhost:5000, http://localhost:5001"
SOCKET_ORIGINS="http://localhost:5000, http://localhost:5001"
LOGGER=true

SECRET_ID=
TESTER_ID=